.image-collection {
    display: block;
    width: 100%;
    margin: 25px 0;
    padding: 0 100px;
}

.image-collection .image-item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.image-collection .image-item .wrapper {
    position: relative;
    text-align: center;
    background-color: #f1f1f1;
    width: 800px;
    max-height: 450px;
}

.image-collection .image-item .wrapper img {
    /* position: absolute;
    bottom: 0; */
    cursor: pointer;
    max-width: 800px;
    max-height: 450px; /* 550px */
}

.image-collection .image-item .wrapper .image-resolution {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    line-height: 1;
    padding: 8px;
    width: 200px;
}

.image-collection .image-item .button-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 20px 0;
}

.image-collection .image-item .button-container .button-share {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.image-collection .image-item .button-container .button-share > div > a {
    border: 1px solid #999;
    color: #000;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 12px;
    opacity: 0.75;
}

.image-collection .image-item .button-container .button-share > div > a:hover {
    opacity: 1;
}


.image-collection .image-item .button-container .button-download a {
    background-color: #db2828;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 26px;
    border-radius: 5px;
}

.image-collection .image-item .button-container .button-download a:hover {
    background-color: #be3434;
}

.image-collection .image-item .button-container .button-download a:hover > i {
    opacity: 0.75;
}
