.card-item {
    margin: 10px;
}

.card-item > a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.card-item:hover img {
    opacity: 0.75;
    transition: .5s ease;
}