.content-container {
    display: block;
    width: 100%;
    margin-top: 90px;
}

.content-container .content-title, 
.content-container .error, 
.content-container .loader,
.content-container .footer-component {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    min-height: 1rem;
    margin-top: -10px;
}

.content-container .content-title > a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
}

.content-container .content-title > a:hover {
    color: #4183c4;
    border-bottom: 1px solid #4183c4;
}

.content-container .content-title .heading {
    font-size: 30px;
}

.content-container .content-title .description {
    padding: 0 20px;
}

.content-container .tag-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0;
    padding: 0 15px;
}

.content-container .footer-component {
    display: flex;
}

.content-container .footer-component div {
    text-align: left;
    margin: 20px;
}

.content-container .footer-component .form-contact {
    display: flex;
    flex-direction: column;
}

.content-container .footer-component .form-contact > input, 
.content-container .footer-component .form-contact > textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

.content-container .loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}