.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.table-container {
    width: 100%; 
    overflow-x: auto; 
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.form-check-input {
    width: 20px;
    height: 20px;
}
  
  /* Adjust the appearance for better visibility (optional) */
.form-check-input:checked {
    background-color: #007bff; /* Change to your desired color */
    border-color: #007bff;
}