.footer .divider {
    height: 1px;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 0;
    text-align: center;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .footer-container a {
    text-decoration: none;
    color: #000;
}

.footer .footer-container .social-list {
    display: flex;
    justify-content: center;
    font-size: 36px;
    width: 100%;
    text-align: center;
}

.footer .footer-container .social-list > div {
    cursor: pointer;
    margin: 10px;
}

.footer .footer-container .social-list > div:hover {
    opacity: 0.5;
}

.footer .footer-container .content-list ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.footer .footer-container .content-list ul li {
    float: left;
    padding: 10px;
}

.footer .footer-container .content-list a:hover, .copyright a:hover {
    color: #4183c4;
}

@media only screen and (max-width: 600px) {
    .footer .footer-container .social-list {
        font-size: 20px;
    }
    .footer .footer-container .content-list ul {
        font-size: 12px;
    }
    .footer .footer-container .content-list ul li {
        padding: 5px;
    }
    .footer .footer-container .copyright {
        text-align: center;
        font-size: 12px;
    }
}